.galeria .modal-content {
    margin: 0;
    padding: 20px;
    width: 100%;
    max-width: 100%;
    position: relative;

}

 .galeria .modal-body {
    padding: 0;
    margin: 0;
    margin-bottom: 0;
}

.galeria .close {
    color: #ffffff;
    position: absolute;
    top: -50px;
    right: 5px;
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;
}
.galeria .modal-dialog {
    height: 100%;
    max-width: 90%; 
    max-height: 90%;

}
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Color de fondo oscuro semi-transparente */
    z-index: 999; /* Asegúrate de que esté encima de todo */
    display: none; /* Inicialmente oculto */
}

.galeria .modal-dialog img {
    max-width: 100%; 
    height: 100%;
}
.galeria .modal-body img {
    height: 100%;
    max-width: 100%; 
    max-height: 100%;

}


.galeria .carousel-item img {
    width: 100%;
    height: 100%;
}




.galeria .carousel-inner h5{
    font-size: 80px !important;
}


.galeria .carousel-container {
    max-width: 100%;
    overflow: hidden;
}

.galeria .carousel-item .imagen {
    width: 100%;
    height: 300px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparente */
    opacity: 0; /* Inicialmente oculto */
    transition: opacity 0.5s; /* Transición suave */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    color: white;
}

.contenedor-galeria .card-img-top {
    position: relative;
}

.contenedor-galeria .card-img-top:hover .overlay {
    opacity: 1; /* Mostrar la superposición al pasar el mouse sobre la imagen */
}

.contenedor-galeria .deporte-nombre {
    color: white;
    font-size: 24px;
    text-align: center;
}

.contenedor-galeria {
    display: flex;
    padding: 0px;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }

.contenedor-galeria .column-grupo{
    flex: 25%;
    padding: 0px;
  }
  .contenedor-galeria .img {
    width: 50%;
  } 

  
  .contenedor-galeria .column-grupo img{
    margin: 0;
  }
  .overlay2 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.carousel:hover .overlay2 {
    height: 100%;
}

.linea {
    background-color: #0fc3c6;
    width: 100%;
    height: 5px;
}

.deportes-descripcion h2{
    font-size: 35px;
}
.deportes-descripcion p{
    font-size: 15px;
}
