.container {
    position: relative;
}

.inicio-img {
    display: block; /* Esto asegura que la imagen ocupe todo el espacio del contenedor */
    width: 100%; /* Ancho máximo */
    transform: scaleX(-1);
}

.banner-inicio {
    position: absolute;
    top: 10%;
    left: 0;
    color: white;
    text-align: left; /* Alinea el texto a la izquierda */
    width: 100%; /* Ancho del contenedor */
}

.banner-inicio h5{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.titulo-inicio {
    width: 100%; /* Ancho del contenedor */
    max-width: 500px; /* Ancho máximo del texto */
    margin: 0 auto; /* Centra horizontalmente el texto */
    margin-top: 80px;
}

.titulo-inicio path{
    fill: white;
}

.titulo-inicio path:hover{
    fill: aquamarine;
}

/* SECCION DEPORTES*/
    .imagenes-deportes {
        display: flex;
        flex-direction: row;
        justify-content: center !important;
        align-items: center  !important;
    }

    .imagenes-deportes img{
        width: 20% !important;
        height: 480px !important;
        clip-path: polygon(30% 0%, 100% 0%, 70% 100%, 0% 100%) !important;
    }
   #carouselLogro, .carousel-inner, .carousel-item, .row, .col{
    padding: none !important;
    margin: none !important;
    }
/* END DEPORTES  */