.container {
    position: relative;
}

.inicio-img {
    display: block; /* Esto asegura que la imagen ocupe todo el espacio del contenedor */
    width: 100%; /* Ancho máximo */
    transform: scaleX(-1);
}

.banner-inicio {
    position: absolute;
    top: 10%;
    left: 0;
    color: white;
    text-align: left; /* Alinea el texto a la izquierda */
    width: 100%; /* Ancho del contenedor */
}

.banner-inicio h5{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.titulo-inicio {
    width: 100%; /* Ancho del contenedor */
    max-width: 500px; /* Ancho máximo del texto */
    margin: 0 auto; /* Centra horizontalmente el texto */
    margin-top: 80px;
}

.titulo-inicio path{
    fill: white;
}

.titulo-inicio path:hover{
    fill: aquamarine;
}


    /*.imagenes-deportes {
        display: flex;
        flex-direction: row;
        justify-content: center !important;
        align-items: center  !important;
    }

    .imagenes-deportes img{
        width: 20% !important;
        height: 480px !important;
        clip-path: polygon(30% 0%, 100% 0%, 70% 100%, 0% 100%) !important;
    }*/
/* SECCION DEPORTES*/


    .carrusel-deportes .col {
        margin: 0%;  
    }
    .imagenes-deportes img{
        width: 100% ;
        height: 480px;
        clip-path: polygon(30% 0%, 100% 0%, 70% 100%, 0% 100%);

    }


    .carrusel-deportes {
        display: flex;
        padding: 0px;
        flex-wrap: wrap;
        justify-content: center;
      }

    .carrusel-deportes .carousel-inner{
        width: 80%;
        justify-content: center;
    }
    .overlayDeportes {
        position: relative;
        display: inline-block;
        width: 25%;
    }
    
    .overlayDeportes .overlay-content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 480px !important;
        clip-path: polygon(30% 0%, 100% 0%, 70% 100%, 0% 100%) !important;
    
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        text-align: center;
        opacity: 0;
        transition: opacity 0.3s;
    }
    
    .overlayDeportes:hover .overlay-content {
        opacity: 1;
    }
    
    .overlay-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1; /* Asegura que el texto esté encima de la imagen */
    }
/* END DEPORTES  */