@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital@1&display=swap');



.modal {
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    margin-bottom: 0;
}

.modal-content {
    margin: 0;
    padding: 20px;
    width: 100%;
    max-width: 100%;
    position: relative;

}

.modal-body {
    padding: 0;
    margin: 0;
    margin-bottom: 0;
}

.close {
    color: #ffffff;
    position: absolute;
    top: -50px;
    right: 5px;
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;
}
.modal-dialog {
    height: 100%;
    max-width: 90%; 
    max-height: 90%;

}
.modal-dialog img {
    max-width: 100%; 
    height: 100%;
}
.modal-body img {
    height: 100%;
    max-width: 100%; 
    max-height: 100%;

}

.carousel {
    margin-top: 0px;
    height: 100%;

}

.carousel-inner {
    position: relative;
    overflow: hidden;
}

.carousel-item {
    display: none;
    position: relative;
    float: left;
    width: 100%;
    min-height: 100%;
}

.carousel-item.active {
    display: block;
}

.carousel-item img {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #63a9cf;

}

.navbar {
    position: relative;
    background-color: #51bad180 !important;
    padding: 15px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


p {
    font-size: 30px;
    color: #ffffff;
    margin: 25px 0;
}





.navbar-nav .nav-link:hover {
    color: rgb(171, 181, 26);
}

h2 {
    font-size: 90px;
    line-height: 100px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    margin-bottom: 20px;
}

footer {
    bottom: 0;
    width: 100%;
    background-color: #51bad180;
    padding: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

footer p {
    font-size: 15px;
    color: #000000;
}
footer h3{
    margin-top: 50px;
}

.map-container {
    position: relative;
    overflow: hidden;
    padding-bottom: 56.25%;
    height: 0;
}

.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}





.carousel-inner h5{
    font-size: 80px !important;
}
.vision-1 {
    background-image: url(../img/v1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    padding: 15px 25px 100px;
}

.vision-2 {
    background-image: url(../img/v2.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 50%;
    padding: 15px 25px 100px;
}



.carousel-container {
    max-width: 100%;
    overflow: hidden;
}

.carousel-item .imagen {
    width: 100%;
    height: 300px;
}
td{
    overflow-wrap: break-word !important;
}
.gestionar{
    color: black;
}
.deportes{
    padding: 100px 0;
    text-align: center;
 }

 table{
    box-shadow: 0px 0px 10px #1f3de6 !important;
    width: 100%;
    margin-bottom: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    color: #000000;
    border: 5px;
    border-color: #0fc3c6;
}
thead{
    background-color: #0fc3c6 !important;
    color: #ffffff !important; 
    box-shadow: 0px 0px 10px #1fdfe6 !important;

}
.btn-danger.btn-sm {
    background-color: #17907a !important;
    color: #fff;
    border-color: #0fc3c6;
    border-radius: 10px;
}

.btn-danger.btn-sm:hover {
    background-color: #0fc3c6 !important;
    border-color: #17907988;
    color: #fff;
}

.btn-secondary.btn-sm{
    border-radius: 10px;
}
tr{
    text-align: left;
}

tr:hover {
    background-color: #36bcc6 !important;
    color: #fff !important;
    border-radius: 25px !important;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparente */
    opacity: 0; /* Inicialmente oculto */
    transition: opacity 0.5s; /* Transición suave */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    color: white;
}

.card-img-top {
    position: relative;
}

.card-img-top:hover .overlay {
    opacity: 1; /* Mostrar la superposición al pasar el mouse sobre la imagen */
}

.deporte-nombre {
    color: white;
    font-size: 24px;
    text-align: center;
}

.row {
    display: flex;
    padding: 0px;
    flex-wrap: wrap;
    justify-content: center;
  }

.column{
    flex: 25%;
    padding: 0px;
  }
  
.row .img {
    width: 50%;
  }
  
.column img{
    margin-top: 0px;
  }
  .overlay2 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.carousel:hover .overlay2 {
    height: 100%;
}

.overlay2-text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

  
@media (max-width: 720px){
    .carousel-inner h5{
        font-size: 40px !important;
    }
    .carousel-inner p{
        font-size: 20px !important;
    }
    body{
        flex: 100%;
    }
    .column{
        flex: 100%;
    }
    .menu{
        padding: 20px;
    }
    .menu label{
        display: initial;
    }
    .menu .navar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;

    }
    #menu:checked ~ .navbar{
        display: initial;
    }
    .header{
        min-height: 0vh;
    }
    .header-content{
        padding: 80px 30px 50px 30px;
    }
    .header-txt{
        margin-bottom: 15px;
    }
    .dir p{
        font-size: 18px;
    }
    .mision {
        flex-direction: column;
    }
    
    .mision-1 {
        display: none;
    }
    
    .mision-2 {
        width: 100%;
        padding: 30px;
        text-align: center;
    }
    
    .vision {
        flex-direction: column;
    }
    
    .vision-1 {
        display: none;
    }
    
    .vision-2 {
        width: 100%;
        padding: 30px;
    
    }
    h2 {
        font-size: 70px;
        line-height: 80px;
    }
    p{
        margin: 15px;
        text-align: center;
    }
    body{
        max-width: 100%;

    }
    .header-txt h1, h3 {
        font-size: 50px;
        letter-spacing: 5px;
        text-transform: uppercase;
        font-family: 'Bebas Neue', cursive;
        color: #ffffff;
        margin-bottom: 15px;
    }
    .header-txt{
        text-align: center;
        margin-bottom: 45pxs;
     }
     .header-txt span {
        font-size: 40px;
        color: #FFFFFF;
     }
    h3 {
        font-size: 15px;
        letter-spacing: 5px;
        text-transform: uppercase;
        font-family: 'Bebas Neue', cursive;
        color: #ffffff;
        margin-bottom: 15px;
    }
    
    .header-txt p {
        color: #ffffff;
        padding: 0 250px;
        margin: 25px 0;
    }
    
    .presentacion {
        max-width: 100%;
    }
   span{
    font-size: 15px;
   }
   .texto-desplegable p {
    margin: 5px 10px;
    font-size: 20px;
}
.close {
    color: #000000;
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}

}
.container1 {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
}

.texto-desplegable {
    background-color: rgba(0, 0, 0, 0.71);
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.container1:hover .texto-desplegable {
    display: block;
}

.contenedor-imagenes {
    display: flex;
    padding: 0px;
    justify-content: center;
    width: 100%;
}

.contenedor-imagenes img {
    width: 100%;
    height: 500px;
}

.texto-desplegable p {
    margin: 5px 10px;
}
