@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
/*estilos para la informacion del usuario*/
.info{
    margin-left: 100px;
    color: white;
    font-size: 18px;
}
.modal {
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    margin-bottom: 0;
}

.modal-content {
    margin: 0;
    padding: 20px;
    width: 100%;
    max-width: 100%;
    position: relative;

}

.modal-body {
    padding: 0;
    margin: 0;
    margin-bottom: 0;
}

.close {
    color: #ffffff;
    position: absolute;
    top: -50px;
    right: 5px;
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;
}
.modal-dialog {
    height: 100%;
    max-width: 90%; 
    max-height: 90%;

}
.modal-dialog img {
    max-width: 100%; 
    height: 100%;
}
.modal-body img {
    height: 100%;
    max-width: 100%; 
    max-height: 100%;

}


/*Estilos para el carrucel de misión, visión, sobre nosotros*/
.carousel-item img {
    width: 100%;
    height: 100%;
}


.map-container {
    position: relative;
    overflow: hidden;
    padding-bottom: 56.25%;
    height: 0;
}

.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
h6{
    color: #ffffff;
}
.carousel-inner h5{
    font-size: 80px !important;
}


.carousel-container {
    max-width: 100%;
    overflow: hidden;
}
.card{
background-color: #ffffff00;
}
.overlayN {
    background-color: rgba(0, 0, 0, 0.5) !important; /* Transparencia del overlay */
    color: white !important;
    text-align: center !important;
    position: absolute; 
    top: 0; 
    width: 100%;
    height: 100%;
    display: none; 
    justify-content: center; 
    align-items: center;

}
.overlayN a {
    color: white !important;
    text-decoration: none !important;
}
.card:hover .overlayN {
    display: flex !important;
}
.carousel-item .imagen {
    width: 100%;
    height: 300px;
}
td{
    overflow-wrap: break-word !important;
}
.gestionar{
    color: rgb(255, 255, 255);
}
.deportes{
    padding: 100px 0;
    text-align: center;
 }


.btn-danger.btn-sm {
    background-color: #17907a !important;
    color: #fff;
    border-color: #0fc3c6;
    border-radius: 10px;
}

.btn-danger.btn-sm:hover {
    background-color: #0fc3c6 !important;
    border-color: #17907988;
    color: #fff;
}

.btn-secondary.btn-sm{
    border-radius: 10px;
}
tr{
    text-align: left;
}

tr:hover {
    background-color: #36bcc6 !important;
    color: #fff !important;
    border-radius: 25px !important;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparente */
    opacity: 0; /* Inicialmente oculto */
    transition: opacity 0.5s; /* Transición suave */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    color: white;
}

.card-img-top {
    position: relative;
}

.card-img-top:hover .overlay {
    opacity: 1; /* Mostrar la superposición al pasar el mouse sobre la imagen */
}

.deporte-nombre {
    color: white;
    font-size: 24px;
    text-align: center;
}

.row {
    display: flex;
    padding: 0px;
    flex-wrap: wrap;
    justify-content: center;
  }

.column{
    flex: 25%;
    padding: 0px;
  }
  
.row .img {
    width: 50%;
  }
  
.column img{
    margin-top: 0px;
  }
  .overlay2 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.carousel:hover .overlay2 {
    height: 100%;
}

.overlay2-text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.carousel:hover .overlay2 {
    height: 100%;
}

.overlay2-text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
/* Estilos para el carrusel de deportistas destacados */
.carrusel-destacados img{
    max-width: 100%;
    height: 400px;
}
.overlayDeportistas {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparente */
    opacity: 0; /* Inicialmente oculto */
    transition: opacity 0.5s; /* Transición suave */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.carousel:hover .overlayDeportistas {
    opacity: 1;
}
.overlayDeportistas h5{
    font-size: 20px !important;
}

@media (max-width: 720px){
    .carousel-inner h5{
        font-size: 40px !important;
    }
    .carousel-inner p{
        font-size: 20px !important;
    }
    body{
        flex: 100%;
    }
    .column{
        flex: 100%;
    }

    #menu:checked ~ .navbar{
        display: initial;
    }
    .dir p{
        font-size: 18px;
    }

    h2 {
        font-size: 70px;
        line-height: 80px;
    }
    p{
        margin: 15px;
        text-align: center;
    }
    body{
        max-width: 100%;

    }


    h3 {
        font-size: 15px;
        letter-spacing: 5px;
        text-transform: uppercase;
        font-family: 'Bebas Neue', cursive;
        color: #ffffff;
        margin-bottom: 15px;
    }
    
    .header-txt p {
        color: #ffffff;
        padding: 0 250px;
        margin: 25px 0;
    }
    
    .presentacion {
        max-width: 100%;
    }
   span{
    font-size: 15px;
   }
   .texto-desplegable p {
    margin: 5px 10px;
    font-size: 20px;
}
.close {
    color: #000000;
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}

}
.container1 {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
}

.texto-desplegable {
    background-color: rgba(0, 0, 0, 0.71);
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.container1:hover .texto-desplegable {
    display: block;
}

.contenedor-imagenes {
    display: flex;
    padding: 0px;
    justify-content: center;
    width: 100%;
}

.contenedor-imagenes img {
    width: 100%;
    height: 500px;
}

.texto-desplegable p {
    margin: 5px 10px;
}
