/*inicio deportistas*/
.titulo-containerdd .vertical{
    position: relative;
    left: 90%;
    top: -6%;
    width: 5px;
    height: 23%;
    background-color: #0fc3c6;
}
 .title-deportistas{
    position: relative;
    top:20%;
    font-size: 40px;
    right: 20%;
 }
 .titulo-containerdd{
    color: white;
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
    height: 900px;
    width: 100%;
 }
.titulo-containerdd .horizontal{
    position: relative;
    top: 17%;
    left: 46.8%;
    width: 43.45%;
    height: 5px; 
    background-color: #0fc3c6;
}
.titulo-containerdd .horizontal2{
    position: relative;
    width: 9.4%;
    top: -29%;
    height: 5px; 
    background-color: #0fc3c6;
    left: 90%;
}
.contenedor-deportistas {
    position: relative;
    display: flex;
    justify-content: center; /*centra horizontal*/
    align-items: center; /*centra vertical*/
    width: 100%; /*ancho del di*/
    gap: 5%; /*espacio entre items*/
    height: 66.66%;
    top: -8%;
}

.medioDestacados{
    max-width: 30%;
    max-height: 40%;
}
.carrusel-destacados {
width: 25%;
}
.carrusel-destacados img {
    width: 100%;
    height: 100%;
    object-fit: cover
}
.contenedor-deportistas .carousel-item{
    height: 447px;    
    border: 5px solid #34a5c8; /* Color del borde y ancho del borde */
    padding: 2px; /* Espacio alrededor del carrusel */
}  
.overlayDeportistas {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparente */
    opacity: 0; /* Inicialmente oculto */
    transition: opacity 0.5s; /* Transición suave */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.carousel:hover .overlayDeportistas {
    opacity: 1;
}
.overlayDeportistas h5{
    font-size: 20px !important;
    text-align: center;
    margin: auto;
}
/*fin deportistas*/

/* estilos de los logros*/
.titulo-containerl{
    color: white;
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
    height: 300px;
    width: 100%;

 }
 .title-logros{
    position: relative;
    top:40%;
    font-size: auto;
}
.titulo-containerl .horizontal{
    position: relative;
    top: 28%;
    left: 9%;
    width: 35%;
    height: 5px; 
    background-color: #0fc3c6;
}
.titulo-containerl .horizontal2{
    position: relative;
    width: 9%;
    top: 79.5%;
    height: 5px; 
    background-color: #0fc3c6;
}
.titulo-containerl .vertical{
    position: relative;
    left: 9%;
    top: 28%;
    width: 5px;
    height: 50%;
    background-color: #0fc3c6;
}
.contenedor-logros {
    height: 40%;
    position: relative;
    bottom: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.carrusel-logros {
    width: 100%;
}


.grupo-logros {
    width: 90%;
    display: flex;
    gap: 5%;
    margin: 0 auto;
    justify-content: center;
}

.contenedor-infoLogros {
    width: 25%;
    height: 120px;
    position: relative;
}

.image-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.logro-txt {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 70%;
    padding: 7%;
    top: 0%;
}

.logro-txt h5, .logro-txt p {
    color: white;
    margin: 0;
}
.logro-txt h5{
    font-size: 20px;
}
.logro-txt p{
    font-size: 15px;
}
/*fin logros*/
/*fin estilos documentos*/
/*estilos de escenarios*/
.escenarios{
    display: flex;
    justify-content: center;
}
.carousel-escenarios{
    width: 90%;
}
.carousel-escenarios .carousel-item h5{
    text-align: left;
}
.carousel-escenarios img{
    height: 500px;
}
.map-container {
    position: relative;
    overflow: hidden;
    padding-bottom: 56.25%;
    height: 0;
}

.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/*fin de estilos escenarios*/
/*estilos documentos*/
.documento {
    position: relative;
    overflow: hidden;
    border-radius: 55%;
}

.documento .image-container {
    position: relative;
}

.documento .image-container img {
    display: block;
    width: 100%;
    height: auto;
}

.infoDocumento {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    color: white;
    text-align: center;
}
.infoDocumento h3{
font-size: 20px;
}
.infoDocumento p {
    font-size: 15px;
}
.documentos .row {
    display: flex;
    padding: 0px;
    flex-wrap: wrap;
    justify-content: center;
  }

/*fin estilos documentos*/
/*estilos de noticias*/
.noticias .row {
    display: flex;
    padding: 0px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .card{
    background-color: #ffffff00;
    }
    .overlayN {
        background-color: rgba(0, 0, 0, 0.5) !important; /* Transparencia del overlay */
        color: white !important;
        text-align: center !important;
        position: absolute; 
        top: 0; 
        width: 100%;
        height: 100%;
        display: none; 
        justify-content: center; 
        align-items: center;
    
    }
    .overlayN a {
        color: rgb(255, 255, 255) !important;
        text-decoration: none !important;
    }
    .card:hover .overlayN {
        display: flex !important;
    }
/*fin estilos de noticias*/



.titulo-containere .horizontal{
    width: 36%;
    height: 5px;
    margin: -30px 0 0 0;
    background-color: #0fc3c6;
}
.escuelas h1{
    font-size: 40px;
    padding: 50px 0 50px 0;
    text-align: center;
    color: white;
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
}

 .titulo-containerc{
    font-size: 40px;
    padding: 50px 0 50px 0;
    text-align: center;
    color: white;
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
 }
.titulo-containere{
    font-size: 40px;
    padding: 50px 0 50px 0;
    text-align: center;
    color: white;
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
 }
/*nosotros*/

.linea {
    background-color: #0fc3c6;
    width: 100%;
    height: 5px;
}

.directorio-container {
    color: rgb(255, 255, 255);
    height: 1000px;
    width: 100%;
}

.directorio-container .dirigencia img {
    height: 30%;
    width: 30%;
    border: 5px;
    padding: 5px;
    background-color: #0fc3c6;
}

.dirigencia {
    height: 50%;
}
.presidente{
    height: 50%;
}
.directorio-container .presidente img{
    height: 40%;
    width: 40%;
        border: 5px;
    padding: 5px;
    background-color: #0fc3c6;
}
.directorio-container .dirigencia h5{
font-size: 25px;
}
.directorio-container .dirigencia p{
font-size: 18px;
}
.directorio-container .presidente h5{
    font-size: 25px;
    }
    .directorio-container .presidente p{
    font-size: 18px;
    }
.nosotros-container {
    text-align: center;
    /* Alinea el texto en el centro */
}

.nosotros-container img {
    width: 90%;
    display: block;
    margin: 0 auto;
}

.historia-info,
.mision-info,
.vision-info {
    width: 95%;
    color: #FFF;
    margin: 0 auto;
    /* Centra horizontalmente */
    text-align: left;
    /* Restablece la alineación del texto a la izquierda */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}

.nosotros-container h5 {
    font-size: 35px;
}

.nosotros-container p {
    font-size: 25px;
}

/* Añade el estilo para el efecto de oscurecimiento */
.imagen-oscura {
    position: relative;
}

.imagen-oscura::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    /* Cambia el valor alpha (0.5) para ajustar la opacidad */
}

.imagen-oscura img {
    display: block;
    width: 100%;
    height: auto;
}
/*fin nosotros*/
/**/
.iniciar-sesion{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.contenedor-sesion{
    width: 40%;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: auto;
    margin-right: auto;
}
.contenedor-sesion .custom-card{
    width: 90%;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.contenedor-sesion .custom-card .card-header{
    width: 95%;
}
.contenedor-sesion .custom-card .card-body{
    width: 80%;
}
/*vacacionales*/
.vacionales {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.container-vacacional {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    align-items: center;
    justify-content: center;
    height: auto;
}
.container-vacacional h5{
    font-size: 30px;
    color: #FFFFFF;
    margin: 1% 0 1% 5%;
}
.container-vacacional p{
    font-size: 20px;
    margin: 1% 5% 1% 5%;
}
.container-vacacional .imagen-boton img{
    width: 90%;
    height: 400px;
}
.info-vacacional {
    flex-wrap: wrap;
    width: 50%;
    justify-content: center;
    display: flex;
    position: relative;
    align-items: center;
}
.info-vacacional .mas-info{
    width: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}
.fechas{
    width: 100%;
    display: flex;
    gap: 10%;
}
.info-estado{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
}

.imagen-boton {
    flex-wrap: wrap;
    width: 50%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 5% 0 5% 0;
}
/*fin vacacionales*/

